{% extends "RandolphInsurance/layout.html" %}
{% load static %}

{% block body %}

<div class="bg-image">
    <div class="d-flex align-items-center firstsection" data-aos="fade-up">
        <div class="container container-fluid">
            <div class="row">
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <div>
                        <img src='\Website\files\userimages\Randolph Insurance Icon.png' alt="insurance" style="width: 70%">
                    </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1><b>Providing Insurance With The Best Carrier Possible</b></h1>
                    <h5>The Randolph Insurance Agency is an independent insurance agency that serves clients in Norristown, Pennsylvania and the surrounding area.</h5>
                    
                    <div style="padding-top: 10px">
                        <a class="btn " style="border-radius: 50px; background: blue; color: #fff;" href="{% url 'emailattachment' %}" >Get A Quote</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center secondsection" data-aos="fade-up">
        <div class="container container-fluid">
            <div class="row">
                <div class="col-lg-7 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>The Randolph Insurance Agency</h1>
                    <h4>The Randolph Insurance Agency is an independent insurance agency that serves clients in Norristown, Pennsylvania and the surrounding area.</h4>
                    <div class="bullet-box">
                        <div class="bullet">
                            <iconify-icon icon="ic:baseline-directions-car" style="font-size: 32px;"></iconify-icon>
                        </div>
                        <h4 class="title">Auto Insurance</h4>
                        <p class="description">
                            Paying too much for auto insurance? With our flexible coverage options and expert service, 
                            you’ll know that your vehicle is getting the best protection possible.
                        </p>

                    </div>
                    <div class="bullet-box">
                        <div class="bullet">
                            <iconify-icon icon="material-symbols:home" style="font-size: 32px;"></iconify-icon>
                        </div>
                        <h4 class="title">Home Insurance</h4>
                        <p class="description">
                            Your home is your greatest investment, but you shouldn’t have to break the bank to insure it. Find out how much we can save you on your policy.
                            </p>

                    </div>
                    <div class="bullet-box">
                        <div class="bullet">
                            <iconify-icon icon="bxs:hard-hat" style="font-size: 32px;"></iconify-icon>
                        </div>
                        <h4 class="title">Business Insurance</h4>
                        <p class="description">
                            As a business owner, 
                            you have enough on your mind without having to worry about your insurance needs. Let us find the best coverage at the best rates for you.
                        </p>

                    </div>
                </div>
                <div class="col-lg-5 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <div>
                        <img src='\Website\files\userimages\scott-graham-OQMZwNd3ThU-unsplash.jpg' alt="insurance" style="width: 100%">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center thirdsection" data-aos="fade-up">
        <div class="container container-fluid">
            <div style="text-align: center;">
                <h1 style="color: white;">Life Insurance</h1>
                <br>
                <div style="margin-left: 20%; margin-right: 20%;">
                    <h3 style="color: white;">Protect your family with affordable and flexible life insurance coverage from Erie Family Life. </h3>
                    <br>
                    <button type="button" class="btn btn-outline-light" style="border-radius: 50px">Life Insurance Calculator</button>
                </div>
            </div>
            
        </div>
    </div>
    <div>
        <section id="testimonials" class="testimonials section-bg" data-aos="fade-up">
            <div class="container" >
    
                <div class="section-header">
                    <p>We Have More Than One Carrier</p>
                </div>
        
                <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">
        
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            
                            <div class="col-lg-2 text-center">
                            <img src="\Website\files\userimages\Logo-Erie-Insurance.webp" class="img-fluid testimonial-img" alt="">
                            </div>
                        </div>
                        <br>
                        <br>
                        </div>
                    </div><!-- End testimonial item -->
        
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            
                            <div class="col-lg-2 text-center">
                            <img src="\Website\files\userimages\2560px-MetLife_logo.svg.png" class="img-fluid testimonial-img" alt="">
                            </div>
                        </div>
                        </div>
                    </div><!-- End testimonial item -->
        
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">

                            <div class="col-lg-2 text-center">
                            <img src="\Website\files\userimages\2560px-Logo_of_the_Progressive_Corporation.svg.png" class="img-fluid testimonial-img" alt="">
                            </div>
                        </div>
                        </div>
                    </div><!-- End testimonial item -->
        
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            
                            <div class="col-lg-2 text-center">
                            <img src="\Website\files\userimages\travelers-2.webp" class="img-fluid testimonial-img" alt="">
                            </div>
                        </div>
                        </div>
                    </div><!-- End testimonial item -->
        
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
    
            </div>
        </section><!-- End Testimonials Section -->
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="{% static 'RandolphInsurance/main.js' %}"></script>
{% endblock %}